* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  
  :root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
  }
  
  
  @media screen and (max-width: 375px) {
    body {
      display: flex;
      justify-content: center;
      
    }
  }
  
  .container {
    
    background-color: white;
  }
  .logo-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .header-invite-desktop {
    display: none;
  }
  
  .toggle-bar-desktop {
    display: none;
  }
  
  .Intro-section {
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
    padding-bottom: 100px;
  }
  
  .intro-section-1 {
      background-image: url(images/bg-intro-mobile.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top right;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 30px;
  }
  
  .mockup-img {
    margin-top: -33%;
  }
  
  #intro-header {
    font-size: 40px;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: var(--Dark-Blue);
    padding-top: 3rem;
    line-height: 2.5rem;
  }
  
  .about {
    font-family: "Public Sans", sans-serif;
    color: var(--Grayish-Blue);
    font-size: 15px;
    text-align: center;
    padding: 25px;
    margin-bottom: 15px;
    line-height: 1.5rem;
  }
  
  .header-invite {
    display: flex;
    justify-content: center;
    
  }
  #invite-btn {
    
    border-radius: 1.5rem;
    border: 0px;
    font-family: "Public Sans", sans-serif;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    color: white;
    font-weight: 700;
    padding: 1rem;
    
  }
  
  .benifit-section {
    text-align: center;
    padding: 80px 20px 50px 20px;
    background-color: var(--Very-Light-Gray);
  }
  
  #benifit_header {
    font-size: 40px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: var(--Dark-Blue);
  }
  
  #What_are_we,
  #e-banking-description,
  #budget-description,
  #onboarding-description,
  #API-description {
    font-size: 15px;
    font-family: "Public Sans", sans-serif;
    padding-top: 18px;
    color: var(--Grayish-Blue);
    line-height: 1.5rem;
  }
  
  #online-header,
  #budgeting-header,
  #onboarding-header,
  #API-header {
    font-size: 1.4em;
    font-family: "Public Sans", sans-serif;
    padding-top: 30px;
    color: var(--Dark-Blue);
  }
  
  .online-banking {
    padding-top: 50px;
  }
  
  .simple-budgeting,
  .fast-onboarding,
  .open-api {
    padding-top: 30px;
  }
  
  .Article-section {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: var(--Very-Light-Gray);
  }
  
  #article-header {
    font-size: 38px;
    font-family: "Public Sans", sans-serif;
    color: var(--Dark-Blue);
    padding-bottom: 40px;
  }
  
  .currency,
  .flight,
  .restaurant,
  .confetti {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  #currency_image,
  #flight_image,
  #restaurant_image,
  #confetti_image {
    width: 20.9rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  #writer {
    font-size: 12px;
    font-family: "Public Sans", sans-serif;
    color: var(--Grayish-Blue);
  }
  
  .about_writer {
    padding: 35px;
    text-align: left;
    background-color: white;
  }
  
  #writer-header {
    font-size: 17px;
    font-family: "Public Sans", sans-serif;
    color: var(--Dark-Blue);
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  #writer-thoughts {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--Grayish-Blue);
    font-weight: 500;
  }
  
  .navbar {
    text-align: center;
    padding: 50px;
    background-color: var(--Dark-Blue);
    color: white;
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    line-height: 2.5rem;
  }
  
  .social-medias {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  #invite-btn-footer {
    
    border-radius: 1.5rem;
    border: 0px;
    font-family: "Public Sans", sans-serif;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    color: white;
    font-weight: 700;
    padding: 1rem;
   
  }
  
  .footer-invite {
    padding: 20px;
  }

 @media screen and (min-width: 850px) {
    body {
        display: flex;
        justify-content: center;
      }

      .container {
        background-color: white;
      }
/* logo alignment change */
      .logo-section {
          display: flex;
          justify-content:space-around;
          align-items: center;
          
      }
      .toggle-bar-desktop {
          width: 40%;
          display: flex;
          justify-content: space-around;     
      }

      .header-invite-desktop {
       display: block; 
      }

      .menu-img {
          display: none;
      }
      
      .Intro-section {
        display: flex;
        overflow: hidden;
        flex-direction: row-reverse;
        background-size: 0rem;
      }

      .header-invite {
          display: flex;
          justify-content: center;
          flex-direction: column;
          
      }



      .intro-section-1 {
        
        width: 50%;
        background-image: url(images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        
        background-size: 100%;
      }

      .intro-section-2 {
          
          width: 50%;
          display: flex;
          
          align-items:flex-start;
          flex-direction: column;
          padding: 10%;     
      }

      .general-intro {
          display: flex;
          justify-content: center;
          flex-direction: column;
    
      }

      
      .mockup-img {
        margin-top: -12%;
      }
      
      #intro-header {
        font-size: 40px;
        text-align: left;
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        color: var(--Dark-Blue);
        padding-top: 3rem;
        padding-bottom: 1rem;
        line-height: 2.5rem;
      }
      
      .about {
        font-family: "Public Sans", sans-serif;
        color: var(--Grayish-Blue);
        font-size: 15px;
        text-align: left;
        padding: 0;
        margin-bottom: 15px;
        line-height: 1.5rem;
        
      }
      
      .header-invite {
        display: flex;
        justify-content: center;
        
      }
      #invite-btn {
        
        border-radius: 1.5rem;
        border: 0px;
        font-family: "Public Sans", sans-serif;
        background-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
        );
        color: white;
        font-weight: 700;
        padding: 1rem;
        
      }
      
      .benifit-section {
        text-align: center;
        padding: 80px 20px 50px 20px;
        background-color: var(--Very-Light-Gray);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -30vh;
        
      }
/* Changes Easybank options */
      .Easybank_options {
        text-align: left;    
        padding-left: 10%;
        /* margin-top: -15%; */
      }
/* padding and text-align change */
      .benifits {
          display: flex;
          padding-left: 10%;
          text-align: left;
          padding-right: 8%;
          justify-content:center;
      }
      
      #benifit_header {
        font-size: 40px;
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        color: var(--Dark-Blue);
      }
      
      #What_are_we,
      #e-banking-description,
      #budget-description,
      #onboarding-description,
      #API-description {
        font-size: 15px;
        font-family: "Public Sans", sans-serif;
        padding-top: 18px;
        color: var(--Grayish-Blue);
        line-height: 1.5rem;
      }

      
      
      #online-header,
      #budgeting-header,
      #onboarding-header,
      #API-header {
        font-size: 1.4em;
        font-family: "Public Sans", sans-serif;
        padding-top: 30px;
        color: var(--Dark-Blue);
      }
      
      .online-banking {
        padding-top: 25px;
      }
      
      .simple-budgeting,
      .fast-onboarding,
      .open-api {
        padding-top: 30px;
      }
/* invite button config */
      .header-invite-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #invite-btn-desktop {
        border-radius: 1.5rem;
        border: 0px;
        font-family: "Public Sans", sans-serif;
        background-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
        );
        color: white;
        font-weight: 700;
        padding: 1rem;
      }
      
      .Article-section {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 80px;
        background-color: var(--Very-Light-Gray);
      }
/* article-container changes */
      .article-container {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        padding-left: 10%;
      }
      
      #article-header {
        font-size: 38px;
        font-family: "Public Sans", sans-serif;
        color: var(--Dark-Blue);
        padding-bottom: 40px;
      }
      /*display change  */
      .currency,
      .flight,
      .restaurant,
      .confetti {
        
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-left: -16vw;
      }

      
      
      #currency_image,
      #flight_image,
      #restaurant_image,
      #confetti_image {
        width: 20.9rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      #restaurant_image {
        margin-left: -2vw;
      }
      
      
      #writer {
        font-size: 12px;
        font-family: "Public Sans", sans-serif;
        color: var(--Grayish-Blue);
      }
      
      .about_writer {
        padding: 35px;
        text-align: left;
        background-color: white;
      }
      
      #writer-header {
        font-size: 17px;
        font-family: "Public Sans", sans-serif;
        color: var(--Dark-Blue);
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      
      #writer-thoughts {
        font-size: 0.9rem;
        line-height: 1.2rem;
        color: var(--Grayish-Blue);
        font-weight: 500;
      }
      
      .navbar {
        display: flex;
        justify-content: center;
        text-align: left;
        padding: 50px;
        background-color: var(--Dark-Blue);
        color: white;
        font-family: "Public Sans", sans-serif;
        font-size: 15px;
        line-height: 2.5rem;
      }
      
      .social-medias {
        display: flex;
        justify-content: space-around;
        
        height: 10vh;
        margin-left: -19vw;
        padding-top: 3%;
        margin-top: 10vh;
      }
      
      #invite-btn-footer {
       
        border-radius: 1.5rem;
        border: 0px;
        font-family: "Public Sans", sans-serif;
        background-image: linear-gradient(
          to right,
          hsl(136, 65%, 51%),
          hsl(192, 70%, 51%)
        );
        color: white;
        font-weight: 700;
        
        
        
    
      }
      
      .footer-invite {
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        align-items: flex-end;
        align-self: flex-start;
        
        
      }   

      .toggle-bar {
        
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: -1vh;
      }

      #copyright {
        padding-top: 3vh;
        
      }

      .easybank_footer_layout {
        padding: 2%;
        margin-right: 2rem;
      }
}  